*, *::after, *::before {
    box-sizing:border-box;  
    margin: 0;
    padding: 0;
  }
  
  
  img {
      max-width: 25em;
      height: auto;
  }
  
  body {
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
  }
  
  :root {
	--color-primary: #111;
	--color-secondary: whitesmoke;
	--color-dark: #121212;
	--color-light: white;
	--spacing-small: 0.3em;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	color-scheme:light dark;
	/* --bg-root1:light-dark('Pink', 'green'); */


	--accent-color:var(--color-theme);
	--bg-root1:light-dark(whitesmoke, black);
	--color-theme:light-dark(black, whitesmoke);
	--color-focus:light-dark(dodgerblue, rgb(41, 44, 46));
}


:root:has([value="light"]:checked) {
	color-scheme: light;
}
:root:has([value="dark"]:checked) {
	color-scheme: dark;
}


body {
	background-color: var(--bg-root1);
    color: var(--color-theme);
}



  /* HEADER */
  header { 
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: .2s;
      padding: var(--spacing-medium);
      width: 100%;
      position: absolute;
  }
  
  
  header.active {
      background-color: var(--color-light);
  }
  
  
  /* verbergt h1 */
  header > h1 {
      position: absolute;
      opacity: 0;
      user-select: none;
      pointer-events: none;
  }
  
  header nav {
      display: flex;
      align-items: center;
      width: 100%;
  }
  
  header nav ul {
      display: flex;
      gap: var(--spacing-medium);
  }
  
  header nav a {
      display: block;
      margin: 0 auto;
  }
  
  header a img { 
      width: 10em;
      height: auto;
      display: block;
      justify-content: center;
  }
  
  header nav button span {
      display: block;
      background-color: #111;
      height: 10%;
      width: 100%;
  
  }
  
  header nav button {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-small);
      aspect-ratio: 1;
      width: 1.5em;
  }
  
  header nav ul li button img {
      width: 100%;
  }
  
  /* MAIN */
  main {
      overflow: hidden;
  }
  
  li {
      list-style-type: none;
  }
  
  button {
      background-color: transparent;
      border: none;
   }
  
  
  /* SECTIE 1 */
  main section:nth-of-type(1) {
      position: relative;
  }
  
  main section:nth-of-type(1) ul {
      display: flex;
      /* overflow: scroll; */
      /* position: relative; */
      overflow: hidden;
      scroll-behavior: smooth;
      padding: 0;
  }
  
  main section:nth-of-type(1) > a {
      position: absolute;
      bottom: 8em;  
      left: 50%;    
      transform: translateX(-50%); 
      text-decoration: none;
      background-color: var(--color-light);
      color: var(--color-dark);
      padding: var(--spacing-medium);
      font-size: 1em;  
  }
  
  section:nth-of-type(1) ul li img {
      width: 100vw;
      object-fit: cover;
      height: 100vh;
      margin-bottom:5%;
  }

  
  section:nth-of-type(1) ul li {
    list-style: none;
    min-width: 100%;
  }

  section:nth-of-type(1) ul li p {
  padding: 2%;
  }

  section:nth-of-type(1) ul li h2 {
    text-transform: uppercase;
    padding: 2%;
  }

  section:nth-of-type(1) ul li:nth-of-type(1) {
    display: flex;
    flex-direction: column;
  }

  section:nth-of-type(1) ul li:nth-of-type(1) > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


/* Like button via de klasse */
button.like {
    color: red; 
    font-size: 1.5rem;
    cursor: pointer;
    padding:var(--spacing-small);
    transition: transform 0.3s ease, color 0.3s ease; /* Animatie-effecten */
}

/* Hover-effect */
button.like:hover {
    transform: scale(1.2); 
    color: darkred; 
}

/* Active state (wanneer erop geklikt wordt) */
button.like:active {
    transform: scale(1); 
    color: pink; 
}


  /* TEXT */

  main > article {
    padding: 5%;
    display: flex;
    flex-direction: column;
  }
  
main > article h3 {
    padding: 2%;
    font-weight: inherit;
    text-transform: uppercase;
    font-size: 0.9em;
}


main > article select {
margin: 1rem 0;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
  background-color: transparent;
  border: solid var(--color-theme) .1em;
}

main > article a {
margin-bottom: 5%;
padding: 2%;
color: var(--color-theme);
text-transform: uppercase;
}


main > article p {
padding-block: 2%;

}

main > article > section:nth-of-type(1), 
main > article > section:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > article > section:nth-of-type(1) button {
    background-color: transparent;
    border: solid var(--color-theme) .1em;
    margin: 1rem 0;
    padding: 1rem;
}

/* inverted afbeelding */
main section:nth-of-type(1) ul li:nth-of-type(1) img {
    transition: .5s;
}

main section:nth-of-type(1) ul li:nth-of-type(1) img.other-color {
	filter: invert(1);
    transition: .5s;
    scale: 1.1;
}


  /* Knoppen */
  section:nth-of-type(1) button {   
    color: var(--color-theme);
    margin: 5%;
  }
  
  /* Selecteer eerste en tweede knop */
  section:nth-of-type(1) button:nth-of-type(1) {
    left: 1em;
  }
  
  section:nth-of-type(1) button:nth-of-type(2) {
    right: 1em;
  }
  
  /* SECTIE 2 */
  main section:nth-of-type(2) li h2 {
    font-size: 0.6em;
    padding: 0.5em;
    text-align: center;
 }

 main section:nth-of-type(2) li p {
  font-size: 0.8em;
  text-align: center;
  margin: 10%;
 }

  section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    list-style: none; 
    padding: 0;
    justify-content: center;
}

section:nth-of-type(2) ul li img {
    width: 100%; 
    padding: 10%;
    height: auto; 
    object-fit: cover;
}

  
  /* SECTIE 3 */
  section:nth-of-type(3){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
  }
  
  section:nth-of-type(3) p {
      text-align: center;
      width: 100%;
      padding: var(--spacing-large);
      line-height: 2rem;
      font-size: .9rem;
  }
  
  section:nth-of-type(3) img {
        width: 60%;
        margin: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


  
  /* MENU NAVIGATIE*/
  nav ul {
      list-style: none;
      display: flex;
      justify-content: flex-start;
  } 
  
  nav ul li a:hover {
      text-decoration: underline;
      text-decoration-thickness: -2em;
  }
  
   /* HAMBURGER MENU */
  form button {
      text-align: left;
  }
  
  /* Menu maar 't werkt niet op 2de pagina, daarbij heb ik QueryselectorAll gebruik en dat werkte niet */
  main > ul:nth-of-type(1) {
      position: absolute;
      top: 4rem;
      padding: var(--spacing-medium);
      height: 100%;
      width: 100%;
      background-color: var(--color-secondary);
      z-index: 10;
      translate: -101% 0em;
      transition: .2s;
  }
  
  .open{
      translate: 0 0 !important;
      }
  
  /* FOOTER */
      footer {
          background-color: var(--bg-root1);
          color: var(--color-theme);
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
      }
  
      footer h3 {
          text-transform: uppercase;
      }
      
      footer a {
          text-decoration: none;
          color: var(--color-theme);
      }
      
      
      footer ul {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-medium);
      }
      
      footer section {
          padding: var(--spacing-large);
      }
      
      footer ul li {
          text-transform: uppercase;
      }
      
      footer section:nth-of-type(1){
          background-color: var(--color-theme);
          color: var(--bg-root1);
          display: flex;
          height: 16rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      
      footer section:nth-of-type(1) p {
          text-align: center;
          width: 70%;
      }
      
      footer section:nth-of-type(1) input {
          background-color: var(--color-theme);
          border: solid var(--bg-root1) .1em;
          margin: var(--spacing-medium) 0;
          padding: var(--spacing-medium);
          text-transform: uppercase;
          width: 100%;
          font-weight: 300;
      }
      
      footer section:nth-of-type(1) input::placeholder {
          color: var(--bg-root1);
      }
      
      footer ul li:nth-of-type(1){
          margin-top: 2rem;
      }
      
      
      footer section:nth-of-type(3) {
          align-items: flex-start;
      }
  
  