*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
	padding: 0;
  }
  
  body {
	  font-family: 'Poppins', sans-serif;
	  box-sizing: border-box;
  }
  
  :root {
	  --color-primary: #111;
	  --color-secondary: whitesmoke;
	  --color-dark: #121212;
	  --color-light: white;
	  --spacing-small: 0.3em;
	  --spacing-medium: 1rem;
	  --spacing-large: 2rem;
	  color-scheme:light dark;
	  /* --bg-root1:light-dark('Pink', 'green'); */
  
  
	  --accent-color:var(--color-theme);
	  --bg-root1:light-dark(whitesmoke, black);
	  --color-theme:light-dark(black, whitesmoke);
	  --color-focus:light-dark(dodgerblue, rgb(41, 44, 46));
  }
  
  
  :root:has([value="light"]:checked) {
	  color-scheme: light;
  }
  :root:has([value="dark"]:checked) {
	  color-scheme: dark;
  }
  
  
  body {
	  background-color: var(--bg-root1);
	  color: var(--color-theme);
  }
  
  
  fieldset {
	  border:solid .1em var(--color-theme);
  }
  
  label {
	  display:flex;
	  align-items:center;
	  gap:.25em;
	  padding:0 .25em;
  }
  
  
  /* HEADER */
  header { 
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  position: relative;
	  z-index: 1;
	  transition: .2s;
	  padding: var(--spacing-medium);
	  width: 100%;
	  position: absolute;
  }
  
  
  header.active {
	  background-color: var(--color-secondary);
  }
  
  
  /* verbergt h1 */
  header > h1 {
	  position: absolute;
	  opacity: 0;
	  user-select: none;
	  pointer-events: none;
  }
  
  header nav {
	  display: flex;
	  align-items: center;
	  width: 100%;
  }
  
  header nav ul {
	  display: flex;
	  gap: 1em;
  }
  
  header nav a {
	  display: block;
	  margin: 0 auto;
  }
  
  header a img { 
	  width: 10em;
	  height: auto;
	  display: block;
	  justify-content: center;
  }
  
  header nav button span {
	  display: block;
	  background-color: var(--color-primary);
	  height: 10%;
	  width: 100%;
  
  }
  
  header nav button {
	  display: flex;
	  flex-direction: column;
	  position: relative;
	  justify-content: center;
	  align-items: center;
	  gap: .3em;
	  aspect-ratio: 1;
	  width: 1.5em;
  }
  
  header nav ul li button img {
	  width: 100%;
  }
  
  /* MAIN */
  main {
	  overflow: hidden;
  }
  
  li {
	  list-style-type: none;
  }
  
  button {
	  background-color: transparent;
	  border: none;
   }
  
   main li h2 {
	  font-size: 0.8em;
   }
  
  /* SECTIE 1 */
  main section:nth-of-type(1) {
	  position: relative;
	  width: 100%;
  }
  
  main section:nth-of-type(1) ul {
	  display: flex;
	  overflow-x: scroll;
	  overflow-y: hidden;
	  position: relative;
	  width: 100%;
  }
  
  main section:nth-of-type(1) > a {
	  position: absolute;
	  bottom: 8em;  
	  left: 35%;    
	  transform: translateX(-50%); 
	  text-decoration: none;
	  background-color: var(--color-light);
	  color: var(--color-dark);
	  padding: var(--spacing-medium);
	  font-size: 1em; 
	  animation: floating 2s infinite alternate-reverse cubic-bezier(0.075, 0.82, 0.165, 1);
	  transform-origin: center center;
  }
  
  /* HERO IMAGES */ 
  section:nth-of-type(1) ul li img {
	  width: 100vw;
	  object-fit: cover;
	  height: 100vh;
	  margin-bottom:10%;
  }
  
  
  /* SECTIE 2 */
  main section:nth-of-type(2) ul li {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	  justify-content: center;
  }
  
  section:nth-of-type(2) ul li img {
	  width: 92vw;
  }
  
  section:nth-of-type(2) ul li h2 {
	  padding: 1em;
  }
  
  section:nth-of-type(2) ul li p {
	  margin-bottom: 1em;
  }
  
  
  /* SECTIE 3 */
  section:nth-of-type(3) {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  
  }
  
  section:nth-of-type(3) p {
	  text-align: center;
	  width: 100%;
	  padding: var(--spacing-large);
	  line-height: 2rem;
	  font-size: .9rem;
  }
  
  section:nth-of-type(3) img {
	  width: 65%;
	  margin: 2rem 0 1rem 0;
  }
  
  section:nth-of-type(3) video {
	  width: 195vw;
  }
  
  
  section:nth-of-type(3) button {
	  background-color: lightpink;
	  border-radius: var(--spacing-medium);
	  margin: var(--spacing-medium);
	  padding: var(--spacing-small);
  }
  
  
  /* MENU NAVIGATIE*/
  nav ul {
	  list-style: none;
	  display: flex;
	  justify-content: flex-start;
  } 
  
  
  nav ul li a:hover {
	  text-decoration: underline;
	  text-decoration-thickness: -2em;
  }
  
  
   /* HAMBURGER MENU */
  form button {
	  text-align: left;
  }
  
  main > ul:nth-of-type(1) {
	  position: absolute;
	  top: 4rem;
	  padding: var(--spacing-medium);
	  height: 100%;
	  width: 100%;
	  background-color: var(--color-secondary);
	  z-index: 10;
	  translate: -101% 0em;
	  transition: transform 0.2s ease-in-out;;
  }
  
  main > ul:nth-of-type(1).open {
	  transform: translateX(0); 
  }
  
  .open{
	  translate: 0 0 !important;
	  }
  
  /* FOOTER */
	  footer {
		  background-color: var(--bg-root1);
		  color: var(--color-theme);
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  text-align: left;
	  }
  
	  footer h3 {
		  text-transform: uppercase;
	  }
	  
	  footer a {
		  text-decoration: none;
		  color: var(--color-theme);
	  }
	  
	  
	  footer ul {
		  display: flex;
		  flex-direction: column;
		  gap: var(--spacing-medium);
	  }
	  
	  footer section {
		  padding: var(--spacing-large);
	  }
	  
	  footer ul li {
		  text-transform: uppercase;
	  }
	  
	  footer section:nth-of-type(1){
		  background-color: var(--color-theme);
		  color: var(--color-light);
		  display: flex;
		  height: 16rem;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
	  }
	  
	  footer section:nth-of-type(1) p {
		  text-align: center;
		  width: 70%;
	  }
	  
	  footer section:nth-of-type(1) input {
		  background-color: var(--color-theme);
		  border: solid var(--bg-root1) .1em;
		  margin: var(--spacing-medium) 0;
		  padding: var(--spacing-medium);
		  text-transform: uppercase;
		  width: 100%;
		  font-weight: 300;
	  }
	  
	  footer section:nth-of-type(1) input::placeholder {
		  color: var(--color-light);
	  }
	  
	  footer ul li:nth-of-type(1){
		  margin-top: 2rem;
	  }
	  
	  
	  footer section:nth-of-type(3) {
		  align-items: flex-start;
	  }
  
  @keyframes floating {
	  from {
		  transform: scale(1);
		  background-color: var(--color-light);
		  color: var(--color-dark);
	  }
	  to {
		  transform: scale(1.2);
		  background-color: var(--color-primary);
		  color: var(--color-light);
	  }
	  }